<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Statistics</title>
</head>

<body>

<div class="container">

	<h3>Statistics</h3>
	<hr>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Mean</th>
				<th>Min</th>
				<th>Max</th>
				<th>Median</th>
				<th>Standard Deviation</th>
				<th>Variance</th>
				<th>Percentiles</th>
				<th>Skewness</th>
				<th>Kurtosis</th>
			
			</tr>
		</thead>
		
		<tbody>
			<tr >
				
				<td th:text="${mean}" />
				<td th:text="${min}" />
				<td th:text="${max}" />
				<td th:text="${median}" />
				<td th:text="${standardDeviation}" />
				<td th:text="${variance}" />
				<td th:text="${percentiles}" />
				<td th:text="${skewness}" />
				<td th:text="${kurtosis}" />	
								
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



